<div id="a-grid"></div>

<script>
    var win = window;
//    配置数据源
    var dataSource = new kendo.data.DataSource({
        type:'json',
        transport: {
            create: {
                url: "/admin/productUnit/addHandle",
                type: "post"
            },
            read: {
                url: "/admin/productUnit/getList?cateId="+'{$cateId}'
            },
            update: {
                url: "/admin/productUnit/editHandle",
                type: "post"
            },
            destroy: {
                url: "/admin/productUnit/removeHandle",
                type: "post"
            },
            //发送数据到服务端前的操作
            parameterMap: function(data, type) {
                if (type == "create") {
                    return {
                        name: data.models[0].name,
                        cateId :  '{$cateId}'
                    };
                }
                if (type == "destroy"){
                    return { id: data.models[0].id };
                }
                if (type == "update"){
                    return { id: data.models[0].id, name: data.models[0].name};
                }
                return { models: data.models };

            }
        },
        batch: true,
        schema: {
            model: { id: "id" },
            data: function(response) {
                if (response.success == 0){
                    dataSource.cancelChanges();
                }
                return response;
            }
        }
    });
//    实例化grid
    $("#a-grid").kendoGrid({
        columns: [
            { field: "id", hidden:true },
            { field: "name" },
            { field: "cateId", hidden:true },
            { command: ["edit", "destroy"] }
        ],
        dataSource: dataSource,
        editable: {
            mode: "inline"
        },
        toolbar: ["create"]
    });
</script>

