<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .wrap {
            padding: 0px 10px;
        }

        .nav {
            width: 100%;
        }

        .nav-top {
            display: block;
            position: relative;
        }

        .nav-top > .breadcrumb {
            float: right;
            background: transparent;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 12px;
            padding: 7px 5px;
            position: absolute;
            top: 0px;
            right: 10px;
            border-radius: 2px;
        }

        .nav-content {
            clear: both;
        }

        .body {
            width: 100%;
            position: relative;
            margin-top: -15px;
        }
        .pay-logo{
            max-width:200px;
            max-height:40px;
        }
        #searchBtn {
            width: 200px;
        }

        #itemZone {
            display: none;
        }
        .item{
            display: none;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="nav">
        <div class="nav-top">

            <h3>支付方式管理
                <small>payment mode manage</small>
            </h3>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> 基础模块</a></li>
                <li class="active">支付方式管理</li>
            </ol>

        </div>
        <div class="nav-content">
            <div id="infoPanel" class="panel panel-default">
                <div class="panel-heading">
                    <a class="state btn btn-default add" role="button" href="/admin/payMode/add"><i
                            class="glyphicon glyphicon-plus"></i>新增</a>
                    <span id="itemZone">
                        <a class="state btn btn-default edit" role="button" href="/admin/payMode/edit"><i
                                class="glyphicon glyphicon-pencil"></i>编辑</a>
                        <a class="btn btn-default remove" role="button" href="/admin/payMode/removeHandle"><i
                                class="glyphicon glyphicon-remove"></i>删除</a>
                    </span>
                    <a class="state btn btn-default item" role="button" href="/admin/payMode/item"><i
                            class="glyphicon glyphicon-plus"></i>查看</a>
            <span class="btn-nav">
                <button id="advancedSearch" class="btn btn-default pull-right" type="button" data-toggle="tooltip"
                        data-placement="left" title="" data-original-title="展开高级搜索"><i
                        class="glyphicon glyphicon-menu-hamburger"></i></button>
                <input type="text" id="searchBtn" class="form-control pull-right" placeholder="支付名称">
                 <a class="state btn btn-default trash pull-right" role="button" href="/admin/payMode/trash"><i
                         class="glyphicon glyphicon-trash"></i>回收站</a>
            </span>

                </div>
                <div class="panel-body" style="display: none;">
                    搜索面板
                </div>
            </div>
        </div>
    </div>
    <div class="body">

        <div id="grid"></div>
    </div>
</div>
<script>
    $(function () {
        var sharableDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    'url': "/admin/payMode/getPayList",
                    'dataType': 'json',
                    'type': 'get'
                }
            },
            filter: {
                field: "Name", value: '123'
            },
            schema: {
                data: function (response) {
                    return response.data;
                },
                total: function (response) {
                    return response.total;
                }
            },
            pageSize: 5,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true
        });

        var grid = $("#grid").kendoGrid({
            dataSource: sharableDataSource,
            selectable: "row",
            height: 550,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [{
                field: "id",
                hidden: true
            }, {
                template: "#: name #",
                field: "name",
                title: "支付名称",
                width: 240
            }, {
                template: "<img class='pay-logo' src='#:logo_path#'>",
                field: "logo_path",
                title: "logo"
            }, {
                field: "remark",
                title: "描述"
            }]
        }).data("kendoGrid");
//        传递参数
        var params = '';
//        表格行被单击,显示编辑和删除,并设置主键
        $("#grid").on('click', 'tr', function () {
            $("#itemZone").show();
            var item = grid.dataItem($(this));
            params = 'id=' + item.id;
//           设置新增和编辑页面的传递参数
            $(".add").attr('params', params);
            $(".edit").attr('params', params);
        });
//        表格行被双击,显示详细页面
        $("#grid").on('dblclick', 'tr', function () {
            var item = $(".item");
            $.get(item.attr('href'), function (html) {
                layer.open({
                    area:  ['auto', '500px'],
                    type: 1,
                    content: html
                });
            });
        });
//        删除功能
        $(".remove").on('click', function () {
            var that = $(this);
            layer.confirm('是否删除?', {icon: 3, title: '提示'}, function (index) {

                $.post(that.attr('href'), params, function (obj) {
                    layer.msg(obj.msg);
                });
                //TODO 更新grid

                layer.close(index);
            });
            return false;
        });
        //搜索功能
//        timer = null;
//        $("#searchBtn").keyup(function () {
//            timer || clearTimeout(timer);
//            timer = setTimeout(function () {
//                clearTimeout(timer);
//                grid.data("kendoGrid").dataSource.filter([
//                    {field: "Name", value: name},
//                    {field: "Age", value: 123}
//                ]);
//            }, 500);
//
//        });

    });

</script>
</body>
</html>
