<style>
    .a-wrap {
        padding: 0px 10px;
    }

    .a-nav {
        width: 100%;
    }

    .a-nav-top {
        display: block;
        position: relative;
    }

    .a-nav-top > .breadcrumb {
        float: right;
        background: transparent;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        padding: 7px 5px;
        position: absolute;
        top: 0px;
        right: 10px;
        border-radius: 2px;
    }

    .a-nav-content {
        clear: both;
    }

    .a-body {
        width: 100%;
        position: relative;
        margin-top: -15px;
    }

    .a-pay-logo {
        max-width: 200px;
        max-height: 40px;
    }

    #a-searchInput {
        width: 200px;
    }

    .a-item-tool-btns {
        display: none;
    }

    .a-item {
        display: none;
    }
</style>
<div class="a-wrap">
    <div class="a-nav">
        <div class="a-nav-top">
            <h3>支付方式管理
                <small>payment mode manage</small>
            </h3>
            <ol class="breadcrumb">
                <li><a href="javascript:;"><i class="glyphicon glyphicon-home"></i> 基础模块</a></li>
                <li><a href="javascript:;">支付方式管理</a></li>
                <li class="active">列表</li>
            </ol>
        </div>
        <div class="a-nav-content">
            <div id="a-infoPanel" class="panel panel-default">
                <div class="panel-heading">
                    <span class="a-tool-btns">
                          <a class="btn btn-default a-list active" role="button" breadcrumb="列表">
                              <i class="glyphicon glyphicon-th-list"></i><span>列表</span>
                          </a>
                          <a class="state btn btn-default a-add" role="button" href="/admin/payMode/add"
                             context="#a-add-view" breadcrumb="新增">
                              <i class="glyphicon glyphicon-plus"></i><span>新增</span>
                          </a>
                    </span>

                    <span class="a-item-tool-btns">
                        <a class="state btn btn-default a-edit" role="button" href="/admin/payMode/edit"
                           context="#a-edit-view" breadcrumb="编辑">
                            <i class="glyphicon glyphicon-pencil"></i><span>编辑</span>
                        </a>
                        <a class="btn btn-default a-remove" role="button" href="/admin/payMode/removeHandle">
                            <i class="glyphicon glyphicon-remove"></i><span>删除</span>
                        </a>
                        <a class="state btn btn-default a-item" role="button" href="/admin/payMode/item">
                            <i class="glyphicon glyphicon-eye-open"></i><span>查看</span>
                        </a>
                    </span>

                    <span class="a-search-btns">
                        <button id="a-adv-search-btn" class="btn btn-default pull-right" type="button"
                                data-toggle="tooltip"
                                data-placement="left" title="" data-original-title="展开高级搜索">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </button>
                        <input type="text" id="a-searchInput" class="form-control pull-right" placeholder="支付名称">
                         <a class="btn btn-default pull-right a-trash" role="button"
                            breadcrumb="回收站">
                             <i class="glyphicon glyphicon-trash"></i><span>回收站</span>
                         </a>
                    </span>

                </div>
                <div class="panel-body" style="display: none;">
                    搜索面板
                </div>
            </div>
        </div>
    </div>
    <div class="a-body">
        <div id="a-grid"></div>
        <div id="a-add-view"></div>
        <div id="a-edit-view"></div>
    </div>
</div>
<script>
    $(function () {
        var sharableDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    'url': "/admin/payMode/getPayList",
                    'dataType': 'json',
                    'type': 'get',
                    'data': {
                        parentId: 0,
                        cateId: 0
                    }
                }
            },
            filter: {
                field: "isDel", value: '0'  //没删除的记录
            },
            schema: {
                data: function (response) {
                    return response.data;
                },
                total: function (response) {
                    return response.total;
                }
            },
            pageSize: 10,    //默认页数
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true
        });

        var grid = $("#a-grid").kendoGrid({
            dataSource: sharableDataSource,
            columns: [{
                headerTemplate: "<label><input type='checkbox' value='#:id#' >全选</label>",
                field: "id",
                template: "<input type='checkbox' >",
                sortable: false,
//                filterable : false,
//                columns : false,
                width: 60,
                hidden: true
            }, {
                template: "#: name #",
                field: "name",
                title: "支付名称",
                width: 240
            }, {
                template: "<img class='a-pay-logo' src='/Static/payMode/#:logo_path#'>",
                field: "logo_path",
                title: "logo",
                sortable: false
            }, {
                field: "remark",
                title: "描述",
                sortable: false
            }, {
                template: "<label><input type='checkbox' #if( enable == 1 ) {# checked #}# ></label>",
                field: "enable",
                title: "启用",
                sortable: false
            }],
//            columnMenu: {
//                filterable: false
//            },
            selectable: "row",
//            height: 550,
            sortable: true,
            resizable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            noRecords: {
                template: "还没有记录."
            },
            scrollable: false   //是否出现滚动条
        }).data("kendoGrid");

//         显示指定项操作工具栏
        $("#a-grid").on('click', 'tr', function () {
            var that = $(this);
            //选择了一行才显示项工具按钮组
            var res = that.hasClass('k-state-selected');
            if (res) {
                $(".a-item-tool-btns").show();
            }
        });

//        表格行被双击,显示详细页面
        $("#a-grid").on('dblclick', 'tr', function () {
            //没有被选中,则不执行,修复不小心点开的bug
            var that = $(this);
            var res = that.hasClass('k-state-selected');
            if (!res) return;

            var itemBtn = $(".a-item");
            var $tr = $("#a-grid tr.k-state-selected").eq(0);
            var item = grid.dataItem($tr);

            $.get(itemBtn.attr('href') + '?id=' + item.id, function (html) {
                layer.open({
                    area: ['800px', '450px'],
                    type: 1,
                    content: html
                });
            });
        });

//        点击搜索框后隐藏指定项工具按钮
        $(".panel-heading").on('click', '#a-searchInput', function () {

            $(".a-item-tool-btns").hide();
        });

        //搜索功能
        var timer = 1;
        $(".panel-heading").on('keyup', '#a-searchInput', function () {
            var that = $(this);

            clearTimeout(timer);
            timer = setTimeout(function () {
                clearTimeout(timer);
                sharableDataSource.query({
                    search: that.val()
                });
            }, 600);

        });

        //视图切换
        function viewSwitch(view) {
            //先隐藏所有视图
            $('.a-body > div').hide();
            //取消gird 行选中
            $("#a-grid tr").removeClass('k-state-selected');

            //显示对应视图
            if (view == 'grid') {
                cleanParams();
                $("#a-grid").show();
            } else if (view == 'add') {
                cleanParams();
                //不清空upload js出问题
                $("#a-edit-view").empty();
                $("#a-add-view").show();
            } else if (view == 'edit') {
                $("#a-add-view").empty();
                $("#a-edit-view").show();
            }

        }

        //clean 传递特定项参数
        function cleanParams() {
            $('.a-edit').attr('params', '');
            $('.a-remove').attr('params', '');
        }

//       列表
        $(".panel-heading").on('click', '.a-list', function () {

            //隐藏指定项工具按钮
            $(".a-item-tool-btns").hide();
            viewSwitch('grid');
            sharableDataSource.read({
                filter: {
                    field: "isDel", value: '0'
                }
            });
        });

        //add
        $(".panel-heading").on('click', '.a-add', function () {
            //隐藏指定项工具按钮
            $(".a-item-tool-btns").hide();
            viewSwitch('add');
        });

        //edit
        $(".panel-heading").on('click', '.a-edit', function () {
            //TODO 需要批量编辑
            //判断是否选中了一行
            var $tr = $("#a-grid tr.k-state-selected").eq(0);
            var item = grid.dataItem($tr);

            if (item) {
                $(this).attr('params', 'id=' + item.id);
                viewSwitch('edit');
            } else {
                layer.msg('你需要选择一项!');
            }
        });

        //remove
        $(".panel-heading").on('click', '.a-remove', function () {
            //TODO 需要批量删除
            var that = $(this);
            var $tr = $("#a-grid tr.k-state-selected").eq(0);
            var item = grid.dataItem($tr);
            if ($tr.length) {
                layer.confirm('是否删除?', {icon: 3, title: '提示'}, function (index) {

                    $.post(that.attr('href'), 'id=' + item.id, function (obj) {
                        if (obj.success == 1) {
                            sharableDataSource.read();
                        } else {
                            layer.msg(obj.msg);
                        }
                    });
                    layer.close(index);
                });
            } else {
                layer.msg('你需要选择一项');
            }
            return false;
        });

        //回收站
        $(".panel-heading").on('click', '.a-trash', function () {
            //隐藏指定项工具按钮
            $(".a-item-tool-btns").hide();
            viewSwitch('grid');
            sharableDataSource.read({
                filter: {
                    field: "isDel", value: '1'
                }
            });
        });


    });

</script>
