<literal>
    <script>
        $(function () {
//        主内容JQ对象
            var $main = $('#t-main');

//        菜单效果 start
            $(".t-side >ul >li >a").on('click', function () {
                var that = $(this);
                //修改兄弟节点的三角图标向右
                that.parent().siblings().find('.t-side-right i').removeClass('active')
                        .end().end().end()
                        //修改当前节点三角图标向下
                        .find('.t-side-right i').toggleClass('active');

                //让兄弟节点展开菜单收缩
                that.parent().siblings().find('ul').slideUp()
                        .end().end().end()
                        //让当前节点展开菜单下拉
                        .next('ul').slideToggle();
            });
            $(".t-side >ul >li > ul a").on('click', function () {
                $(".t-side >ul >li > ul a").removeClass('active');
                $(this).toggleClass('active');
            });
//        菜单效果 end

//        路由 start
            $(".t-frame").on('click', 'a.state', function () {
                var that = $(this);
                var context = that.attr('context');
                var url = that.attr('href');
                var params = that.attr('params');
                var version = Math.random();    //版本号
                if (context){
                    if (params) {
                        $(context).load(url + '?' + params +'&v='+version);
                    } else {
                        $(context).load(url+'?v='+version);
                    }
                }else{
                    if (params) {
                        $main.load(url + '?' + params+'&v='+version);
                    } else {
                        $main.load(url+'?v='+version);
                    }
                }

                return false;
            });
//        路由 end

//            路径显示与按钮激活 start
            $(".t-frame").on('click', 'a[breadcrumb]', function () {
                var that = $(this);
                //去除其他按钮激活
                $(".t-frame a[breadcrumb]").removeClass('active');
                //激活当前按钮
                that.addClass('active');
                //设置路径
                $("#t-main .breadcrumb li").eq(2).text(that.attr('breadcrumb'));

                return false;
            });
//            路径显示与按钮激活 end
            var login = true;
//            注销登录 start
            $("#t-btnLogout").on('click', function () {
                var that = $(this);
                layer.confirm('是否退出系统?', {icon: 3, title: '提示'}, function (index) {
                    //ok=1没意义,但是不给参数异步会出问题
                    $.post('' + that.attr('href'), 'ok=1', function (obj) {
                        if (obj.success == 1) {
                            login = false;
                            layer.msg(obj.msg);
                            setTimeout(function () {
                                location.href = obj.data.url;
                            }, 500);
                        } else {
                            layer.msg('注销失败');
                        }
                    });
                    layer.close(index);
                });
                return false;
            });
//            注销登录 end

//            离开系统提醒是否离开 start
            $(window).bind('beforeunload', function () {
                if (login){
                    return '您确定要离开系统吗?';
                }else{
                    return;
                }

            });
//            离开系统提醒是否离开 end
        });
    </script>
</literal>
</body>
</html>