<literal>
    <script>
        $(function () {
//        主内容JQ对象
            var $main = $('#main');

//        菜单效果 start
            $(".side >ul >li >a").on('click', function () {
                var that = $(this);
                //修改兄弟节点的三角图标向右
                that.parent().siblings().find('.side-right i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right')
                        .end().end().end()
                        //修改当前节点三角图标向下
                        .find('.side-right i').toggleClass('glyphicon-triangle-right').toggleClass('glyphicon-triangle-bottom');

                //让兄弟节点展开菜单收缩
                that.parent().siblings().find('ul').slideUp()
                        .end().end().end()
                        //让当前节点展开菜单下拉
                        .next('ul').slideToggle();
            });
            $(".side >ul >li > ul a").on('click', function () {
                $(".side >ul >li > ul a").removeClass('active');
                $(this).toggleClass('active');
            });
//        菜单效果 end

//        主内容路由 start
            $(".frame").on('click', 'a.state', function () {
                var that = $(this);
                var url = that.attr('href');
                var params = that.attr('params');
                if (params) {
                    $main.load(url + '?' + params);
                } else {
                    $main.load(url);
                }
                return false;
            });
//        主内容路由 end
            var login = true;
//            注销登录 start
            $("#btnLogout").on('click', function () {
                var that = $(this);
                layer.confirm('是否退出系统?', {icon: 3, title: '提示'}, function (index) {
                    //ok=1没意义,但是不给参数异步会出问题
                    $.post('' + that.attr('href'), 'ok=1', function (obj) {
                        if (obj.success == 1) {
                            login = false;
                            layer.msg(obj.msg);
                            setTimeout(function () {
                                location.href = obj.data.url;
                            }, 500);
                        } else {
                            layer.msg('注销失败');
                        }
                    });
                    layer.close(index);
                });
                return false;
            });
//            注销登录 end

//            离开系统提醒是否离开 start
            $(window).bind('beforeunload', function () {
                if (login){
                    return '您确定要离开系统吗?';
                }else{
                    return;
                }

            });
//            离开系统提醒是否离开 end
        });
    </script>
</literal>
</body>
</html>