<div class="t-side">
    <ul>
        <foreach name="menuStructure" item="menu">
        <li>
            <a href="javascript:;"><span class="pull-left t-side-left"><i class="{$menu['iconClass']}"></i></span>
                <span class="t-side-title">{$menu['title']}</span> <span class="t-side-right pull-right"><i
                        class="glyphicon glyphicon-triangle-right"></i></span> </a>
            <ul>
                <foreach name="menu['items']" item="vo">
                <li><a href="{$vo['url']}" class="state">{$vo['title']}</a></li>
                </foreach>
            </ul>
        </li>
        </foreach>
    </ul>
</div>

