<div id="a-grid"></div>
<script>
    var win = window;
    //    配置数据源
    var dataSource = new kendo.data.DataSource({
        type: 'json',
        serverPaging: true,
        pageSize: 10,   //不设置显示条目会显示NaN
        transport: {
            create: {
                url: "/admin/store/addHandle",
                type: "post"
            },
            read: {
                url: "/admin/store/getList"
            },
            update: {
                url: "/admin/store/editHandle",
                type: "post"
            },
            destroy: {
                url: "/admin/store/removeHandle",
                type: "post"
            },
            //发送数据到服务端前的操作
            parameterMap: function (request, type) {
                if (type != 'read') {
                    data = request.models[0];
                }
                if (type == "create") {
                    delete data.id;
                    return data;
                }
                if (type == "destroy") {
                    return data;
                }
                if (type == "update") {
                    return data;
                }
                return request;
            }
        },
        batch: true,
        schema: {
            model: {
                id: "id",
                fields: {
                    id: {
                        editable: false,
                        nullable: true,
                        hidden: true
                    },
                    status: {
                        type: "number",
                        defaultValue: 1
                    }
                }
            },
            data: function (response) {
                //操作失败,撤销数据源操作
                if (response.success == 0) {
                    dataSource.cancelChanges();
                }
                return response.data;
            },
            total: function (response) {
                return response.total;
            }
        }
    });
    //    实例化grid
    var grid = $("#a-grid").kendoGrid({
        resizable: true,
        sortable: true,
        scrollable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        noRecords: {
            template: "还没有记录."
        },
        columns: [{
            field: "rowNumber",
            title: " ",
            template: "<span class='row-number'></span>",
            sortable: false,
            width:"30px"
        },
            {field: "id", hidden: true, editor: false},
            {title: "名称", field: "name"},
            {title: "编码", field: "code"},
            {title: "简介", field: "remark"},
            {title: "地址", field: "address", minScreenWidth: 900},
            {title: "电话", field: "phone", minScreenWidth: 900},
            {title: "传真", field: "fax", minScreenWidth: 900},
            {title: "营业状态", field: "status", template:statusTpl},
            {title: "操作", command: ["edit", "destroy"], width:"155px"}
        ],
        dataSource: dataSource,
        editable: {
            mode: "popup",
            template: kendo.template($("#popup-form").html()),
            confirmation: function (e) {
                return "你确定要删除" + e.name + "?";
            }
        },
        edit: function (e) {
            //重新设置弹出窗口宽度并居中
            var model = e.model,
                    editWindow = e.container.data("kendoWindow"),
                    container = editWindow.wrapper.find('.container-fluid'),    //内容区域
                    windowTitle = editWindow.wrapper.find('.k-window-title'),  //标题区域
                    _width = 600,//指定窗口宽度
                    _maxHeight = 500;//指定窗口最大高度
            editWindow.wrapper.css({width: _width});
            //修复底部工具栏长度
            editWindow.wrapper.find('.k-edit-buttons').css({width: (_width - 17)});
            //修复滚动条
            container.find('.row').width(editWindow.wrapper.find('.container-fluid').width());
            container.css({
                'overflow-x': 'hidden',
                'max-height': _maxHeight,
                'padding-right': 0,
                'padding-left': 0,
                'width': _width
            });
            //修改标题显示
            if (model.isNew()) {
                windowTitle.text('新增');
            } else {
                windowTitle.text('编辑');
            }
            editWindow.center();

            var viewModel = kendo.observable({
                isPrimitive: false,
                isVisible: true,
                isEnabled: true,
                onOpen: function () {
                },
                onChange: function () {
                },
                onClose: function () {
                },
                onSelect : function (e) {
                    var item = e.item;
//                    var text = item.text();
                    model.set('status', e.sender.dataItem(item).statusId);
                },
                statusList: [
                    {statusName: "正常营业", statusId: "1"},
                    {statusName: "关闭营业", statusId: "2"}
                ],
                status: { statusId: model.get('status')}
            });
            kendo.bind($("#b-status"), viewModel);
        },
        toolbar: ["create"],
        dataBound: gridResizeHeight
    }).data('kendoGrid');
    $(window).resize(gridResizeHeight);

    /**
     * 重置grid高度
     */
    function gridResizeHeight() {
        //显示行号 start
        var rows = this.items();
        var page = this.pager.page() - 1;
        var pagesize = this.pager.pageSize();
        $(rows).each(function () {
            var index = $(this).index() + 1 + page * pagesize;
            var rowLabel = $(this).find(".row-number");
            $(rowLabel).html(index);
        });
        //显示行号 end

        setTimeout(function () {
            var grid = $("#a-grid");
            var paneHeight = Math.floor($("#t-main").outerHeight());
            var content = grid.find('.k-grid-content');
            var toolbarHeight = Math.ceil(grid.find('.k-grid-toolbar').outerHeight());
            var headerHeight = Math.ceil(grid.find('.k-grid-header').outerHeight());
            var pagerHeight = Math.ceil(grid.find('.k-grid-pager').outerHeight());
            content.height(paneHeight - toolbarHeight - headerHeight - pagerHeight - 2);
        }, 0);
    }
    function statusTpl(item) {
        if ( item.status == 1 ) {
            return '正常营业';
        } else {
            return '关闭营业';
        }
    }
    //    显示模版 end
</script>

<include file="Store/form"/>


